table {
    border-collapse: collapse;
    align-content: center;
}

th, td {
    padding: 5 80 5 50px;
    text-align: center;
    border: 1px solid black;
}

th    {
  background-color: #fca
}


td:hover    {
  background-color: #ddd;
  transition-duration: 800ms;
}
